
<div class="container">
   <div class="row">
    <div class="col-sm-12 col-md-8">
      <h2 class= "van-model"><%= @van.brand %></h2>
      <p class= "owner"><%= @van.user.full_name %></p>
      <%= cl_image_tag @van.photos.first.key, class: "show-img" %>
        <div class="card-trip-infos">
          <p><%= @van.description %></p>
          <p class="card-trip-pricing"><%= @van.price_per_night %>€ / nuit</p>
        </div>
      </div>
    <div class="col-sm-12 col-md-4">
      <%= render 'bookings/new' %>
    </div>
</div>
