
<div class="container">
   <div class="row">
    <div class="col-sm-9">
      <h2 class="van-model"><%= @van.brand %></h2>
      <%= cl_image_tag @van.photos.first.key, height: 300, width: 400, crop: :fill %>

        <div class="container card-trip-infos">
            <%= @van.user.full_name %>
            <%= @van.description %>
            <%= @van.price_per_night %>
        </div>
    </div>
  </div>
</div>
